<div id="document_Main">
  <div class="panel menuUser" role="navigation">
    <nav class="sideNav">
      <ul>
        <li class="patientMenu menu">
          <p><b>Patient Management</b></p>
          <ul>
            <li class="subMenu" routerLinkActive="currentUserMenu" routerLink="whitelist"><a>Liste des demandes de Whitelist</a></li>
            <li class="subMenu" routerLinkActive="currentUserMenu" routerLink="home"><a>Empty</a></li>
            <li class="subMenu" routerLinkActive="currentUserMenu" routerLink="home"><a>Empty</a></li>
            <li class="subMenu" routerLinkActive="currentUserMenu" routerLink="home"><a>Empty</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>

