HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

/alderalife-backend/target/
/alderalife-backend/.mvn/
/alderalife-backend/.idea/
/alderalife-backend/mvnw
/alderalife-backend/mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

/src/main/resources/application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

/tm-tool-ris-sim/