.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#formConnexion {
  text-align: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  background: var(--main-color);
  border: 1px solid var(--main-bg-color);

}

#formConnexion input {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 1em;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}

#formConnexion input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: var(--main-color);
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

#formConnexion input[type=submit]:hover {
  background: var(--main-bg-color);
  color: var(--main-color);
}

#formConnexion p {
  color: #b3b3b3;
  font-size: 0.8em;
}

#formConnexion p a,
#legalDiv a {
  color: var(--main-bg-color);
  text-decoration: none;
}

#formConnexion header,
#formConnexion main,
#formConnexion footer {
  width: 100%;
}

#formConnexion header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
  text-align: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-rows: -webkit-max-content;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#formConnexion h2 {
  color: var(--main-bg-color);
  font-family: 'fall_is_comingregular', sans-serif;
  font-size: 3vw;
  margin: auto;
  -ms-grid-column: 2;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

#formConnexion header a {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

#closeConnexion {
  height: 2em;
  margin: auto 0.5em auto auto;
}

#closeConnexion:hover {
  cursor: pointer;
}

#formConnexion main {
  padding: 1em;
}

#formConnexion a {
  margin: 0 0 0.5em auto;
}

#formConnexion #subError {
  outline: 0;
  background: #c3c3c3;
  width: 90%;
  margin: 0 0 1em;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  display: inline-block;
  color: var(--main-bg-color);
}

