<section id="allIntroElement">
  <div id="startPageHeader"></div>
  <div id="intro" class="div1">
    <h1>Un serveur RP pour tous, un serveur Fivem qui vous ressemble</h1>
    <a href="#presentation" onclick="goToByScroll('presentation');change(2)">Découvrir Aldera Life</a>
  </div>
</section>

<hr>

<section id="presentation" class="div2">
  <header>
    <h2>Sensory Garden, c'est quoi ?</h2>
  </header>
  <div id="gridBox">
    <div id="sensory" class="gridPresentation">
      <img src="IMG/icon/soil.svg" alt="Image Mains dans la terre">
      <h3>Sensory Garden</h3>
      <p>Ayez toujours un oeil sur votre potager</p>
    </div>
    <div id="solarPanl" class="gridPresentation">
      <img src="IMG/icon/solar-energy.svg" alt="Image Énergie Solaire">
      <h3>Panneau solaire</h3>
      <p>Energie Solaire pour alimenter la batterie</p>
    </div>

    <div id="water" class="gridPresentation">
      <img src="IMG/icon/raindrops.svg" alt="Image de goutte d'eau">
      <h3>Humidité</h3>
      <p>Détecteur d'humidité dans la terre</p>
    </div>

    <div id="forum" class="gridPresentation">
      <img src="IMG/icon/globe-grid.svg" alt="Image de main autour de la terre">
      <h3>Forum</h3>
      <p>Partage de connaissance</p>
    </div>

    <div id="textIntro" class="gridPresentation">
      <p>Sensory Garden est une serre connectée directement à votre smartphone. Cette serre miniature vous permettra de faire vos potagers d'intérieur en toute facilité.
        Toutes les données importantes à la culture de légumes seront collectés grâce à nos capteurs choisi judicieusement par nos jardiniers en herbe !
        Vous avez des expériences à partager ou bien simplement besoin de conseils ? Nous y avons pensé ! Un forum participatif sera disponible pour tous les membres.
      </p>
    </div>
  </div>
</section>

<hr>

<section id="team" class="div3">
  <header>
    <h2>Notre équipe : </h2>
  </header>
  <div id="gridBoxTeam">
    <div id="simFau">
      <img src="IMG/team/simFau2.jpg" alt="Photo Simon Fauconnier">
      <p><b>Simon Fauconnier</b></p>
      <p><i>Développeur</i></p>
    </div>

    <div id="adrNin">
      <img src="IMG/team/adrNini.jpg" alt="Photo Adrien Nini Pereira">
      <p><b>Adrien Nini Pereira</b></p>
      <p><i>Développeur Back-end</i></p>
    </div>

    <div id="jonGoo">
      <img src="IMG/team/jonGoo2.jpg" alt="Photo Jonathan Goossens">
      <p><b>Jonathan Goossens</b></p>
      <p><i>Développeur</i></p>
    </div>

    <div id="benDmh">
      <img src="IMG/team/benDmh.jpg" alt="Photo Benoît de Mahieu">
      <p><b>Benoît de Mahieu</b></p>
      <p><i>Product Owner</i></p>
    </div>

    <div id="yveHen">
      <img src="IMG/team/yveHen2.jpg" alt="Photo Yves Henry de Generet">
      <p><b>Yves Henry de Generet</b></p>
      <p><i>Responsable légal</i></p>
    </div>

    <div id="casDuq">
      <img src="IMG/team/casDuq.jpg" alt="Photo Cassandra Duquaine">
      <p><b>Cassandra Duquaine</b></p>
      <p><i>Chairman - Responsable Financier</i></p>
    </div>

    <div id="nazHey">
      <img src="IMG/team/nazHey.jpg" alt="Photo Nazanin Heydari">
      <p><b>Nazanin Heydari</b></p>
      <p><i>Responsable Stratégique et Opérationnel</i></p>
    </div>

  </div>
</section>

<hr>

<section id="contact" class="div4">
  <header>
    <h2 id="contactTitle">Une question ou suggestion ? <wbr> Envoyez nous une lettre !</h2>
  </header>
  <form id="formContact" action="#">
    <p id="errorContactForm"></p>
    <div id="letter">
      <div id="formData">

        <label for="formName">Nom *</label>
        <input id="formName" name="formName" type="text" placeholder="Votre nom" required>

        <label for="mail">Adresse email *</label>
        <input id="mail" name="mail" type="email" placeholder="Votre adresse mail" required>

        <label id="mail2">Email: <input type="email" name="mail2"></label>

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="5" placeholder="Écrivez votre message ici" required></textarea>

      </div>

      <div id="stamp">
        <img src="IMG/icon/stamp.svg" alt="Image de timbre">
      </div>

      <div id="addressZone">
        <p>To: SensoryGarden</p>
        <p>Belgique</p>
      </div>
    </div>

    <div id="contactButton">
      <input type="submit" value="Envoyer">
      <input type="reset" value="Supprimer">
    </div>
  </form>
</section>
