<section id="allIntroElement">
  <div id="startPageHeader"></div>
  <div id="intro">
    <h1>AlderaLife GTA RP<br>La ville est votre terrain de jeu !</h1>
    <a href="#presentation" [ngx-scroll-to]="'#presentation'">Découvrir Aldera Life</a>
  </div>
</section>

<hr>

<section id="presentation">
  <header>
    <h2>Les Métiers</h2>
  </header>
  <div class="gridBox">
    <div id="lspd" class="gridPresentation">
      <img src="../../assets/lspd.png" alt="Image Mains dans la terre">
      <p><b>LSPD</b></p>
    </div>

    <div id="gouv" class="gridPresentation">
      <img src="../../assets/gouv.png" alt="Image Énergie Solaire">
      <p><b>Gouvernement</b></p>
    </div>

    <div id="ems" class="gridPresentation">
      <img src="../../assets/ems.png" alt="Image d'un médecin">
      <p><b>EMS</b></p>
    </div>

    <div id="ferme" class="gridPresentation">
      <img src="../../assets/ferme.png" alt="Image d'un fermier">
      <p><b>Fermier</b></p>
    </div>

    <div id="brinks" class="gridPresentation">
      <img src="../../assets/brinks.png" alt="Image d'un camion de la brinks">
      <p><b>Brinks</b></p>
    </div>

    <div id="bar" class="gridPresentation">
      <img src="../../assets/bar.png" alt="Image du tequilala">
      <p><b>Barman</b></p>
    </div>

    <div id="taxi" class="gridPresentation">
      <img src="../../assets/taxi.png" alt="Image de taxi">
      <p><b>Taximan</b></p>
    </div>

    <div id="mecano" class="gridPresentation">
      <img src="../../assets/mecano.png" alt="Image d'un mecano">
      <p><b>Mécano</b></p>
    </div>

    <div id="avocat" class="gridPresentation">
      <img src="../../assets/avocat.png" alt="Image de main autour de la terre">
      <p><b>Avocat</b></p>
    </div>
  </div>
</section>

<hr>

<section id="acti">
  <header>
    <h2>Les Activités</h2>
  </header>
  <div class="gridBox">
    <div id="helico" class="gridPresentation">
      <img src="../../assets/helico.png" alt="Photo Hélico">
      <p><b>Hélico</b></p>
    </div>

    <div id="avion" class="gridPresentation">
      <img src="../../assets/avion.png" alt="Photo avion">
      <p><b>Avion</b></p>
    </div>

    <div id="bateau" class="gridPresentation">
      <img src="../../assets/bateau.png" alt="Photo bateau">
      <p><b>bateau</b></p>
    </div>

    <div id="submarine" class="gridPresentation">
      <img src="../../assets/submarine.png" alt="Photo sous marin">
      <p><b>Sous<br>Marin</b></p>
    </div>

    <div id="golf" class="gridPresentation">
      <img src="../../assets/golf.png" alt="Photo golfeur">
      <p><b>Golf</b></p>
    </div>

  </div>
</section>


