#intro {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: table-row;
  opacity: 0.90;
}

#intro h1 {
  color: var(--main-bg-color);
  font-size: 5vw;
  text-shadow: 1px 0 black;
  opacity: 1;
  padding: 0.2em;
  margin: 0 4vw;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
  border: 1px solid var(--main-bg-color);
}

#intro a {
  text-decoration: none;
  color: var(--main-bg-color);
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10vh;
  white-space: nowrap;
  opacity: 1;
  font-weight: bold;
  border: 2px solid var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.7);
}

#intro a:hover {
  text-decoration: none;
  color: var(--main-color);
;
  background-color: var(--main-bg-color);
  padding: 1em;
  border-radius: 5px;
  opacity: 1;
}

#allIntroElement {
  height: 100vh;
  width: 100%;
  display: table;
  background-origin: border-box;
  background-image: url("../../assets/aldera_banniere.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
}

#presentation {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.gridBox img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  filter: blur(3px);
  opacity: 0.7;
}

.gridBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
  text-align: center;
}

.gridPresentation p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

.gridPresentation {
  position: relative;
  padding: 0.5em;
}

#presentation h2 {
  font-family: "fall_is_comingregular", sans-serif;
  font-size: 6vw;
  letter-spacing: 4px;
  margin: 0;
  text-align: center;
}

#acti {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

#acti h2 {
  font-family: "fall_is_comingregular", sans-serif;
  font-size: 6vw;
  letter-spacing: 4px;
  margin: 0 auto 0.3em auto;
}

#submarine {
  grid-column: 1/3;
  grid-row: 2;
}
#golf {
  grid-column: 2/4;
  grid-row: 2;
}

#golf img, #submarine img {
  width: 25%;
}
