@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
:root {
  --main-color: white;
  --main-bg-color: #ff2407;}
body {
  margin: 0;
}

.error-message {
  text-align: center;
  font-weight: bolder;
  color: var(--main-bg-color);
  border: 1px black solid;
  margin: 0 auto;
  width: 27%;
  padding: 1vh 1vw;
  background: #b9b9b9;
  border-radius: 1vw;
}
