<div class="contentZone">
  <div class="content">
    <div class="userInfoZone">
      <div *ngIf="message" class="error-message">{{message}}</div>
      <div class="serverManage">
        <mat-form-field id="server" [ngClass]="serverOnline? 'online':'offline'">
          <mat-label [ngClass]="serverOnline? 'online':'offline'">Serveur</mat-label>
          <mat-select name="server" [(ngModel)]="server" (ngModelChange)="isOnline()">
            <mat-option *ngFor="let serv of servers" [value]="serv">
              {{serv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div id="startServer"><button (click)="startServer()" [disabled]="serverOnline" class="aldera-button">Démarrer le serveur</button></div>
        <div id="shutdownServer"><button (click)="stopServer()" [disabled]="!serverOnline" class="aldera-button">Arrêter le serveur</button></div>
        <div id="addWhitelist">
          <mat-form-field>
            <input matInput type="text" placeholder="Steam ID" [(ngModel)]="steamid">
            <button mat-button *ngIf="steamid" matSuffix mat-icon-button aria-label="Clear" (click)="steamid=''">
              <mat-icon>☒</mat-icon>
            </button>
          </mat-form-field>
          <button (click)="addWhitelist()" *ngIf="steamid?.length == 21" class="aldera-button">Ajouter à la whitelist</button>
        </div>
        <div id="reloadWhitelist">
          <button (click)="reloadWhitelist()" class="aldera-button">Recharger à la whitelist</button>
        </div>
        <div id="announce">
          <mat-form-field>
            <input matInput type="text" placeholder="Annonce à faire" [(ngModel)]="announce">
            <button mat-button *ngIf="steamid" matSuffix mat-icon-button aria-label="Clear" (click)="announce=''">
              <mat-icon>☒</mat-icon>
            </button>
          </mat-form-field>
          <button (click)="announceServer()" *ngIf="announce" class="aldera-button">Faire une annonce</button>
        </div>
        <div id="setgroup">
          <mat-form-field>
            <input matInput type="number" placeholder="user ID" [(ngModel)]="userid">
            <button mat-button *ngIf="userid" matSuffix mat-icon-button aria-label="Clear" (click)="userid=''">
              <mat-icon>☒</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="usergroup">
              <mat-option value="user">user</mat-option>
              <mat-option value="mod">mod</mat-option>
              <mat-option value="superadmin">superadmin</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="setgroup()" *ngIf="userid && usergroup" class="aldera-button">Mettre groupe en jeu</button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom Steam </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="ping">
            <th mat-header-cell *matHeaderCellDef> Ping </th>
            <td mat-cell *matCellDef="let row"> {{row.ping}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
