#document_Footer {
  background-color: var(--main-color);
  width: 100%;
  margin: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-top: 1px solid var(--main-bg-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#document_Footer p {
  margin: auto;
  color: var(--main-bg-color);;
}

#document_Footer a {
  text-decoration: none;
}

#document_Footer ul {
  list-style: none;
  text-align: left;
}

#linkTop,
#linkDiscord {
  display: inline;
  padding-left: 1em;
}

#linkTop:hover,
#linkDiscord:hover {
  cursor: pointer;
}

#linkFooter img {
  vertical-align: middle;
  width: 1em;
  height: auto;
  display: inline-block;
}

#linkFooter ul {
  padding-left: 1vw;
}
