<footer id="document_Footer">
  <div id="linkFooter">
    <ul>
      <li>
        <a href="https://gta.top-serveurs.net/aldera-life" target="_blank">
          <img src="../../assets/logoTop.svg" alt="Logo de Top Serveur">
          <p id="linkTop">Top Serveur</p>
        </a>
      </li>
      <li>
        <a href="https://discord.gg/xYVQW5b" target="_blank">
          <img src="../../assets/logoDiscord.svg" alt="Logo de discord">
          <p id="linkDiscord">Discord</p>
        </a>
      </li>
    </ul>
  </div>
  <p>Aldera-Life GTA RP serveur</p>
</footer>
