<main>
  <div class="sidebar">
    <div class="TOC">
      <!-- Below this is a <ol> element. "ol" stands for "ordered list." -->
      <ol>
        <!-- <li> means "list item" -->
        <li>
          <a [ngx-scroll-to]="'#info-1'">Liste des règles</a>
          <ul>
            <li id="first-li">
              <a [ngx-scroll-to]="'#info-1-1'">1. Notions à connaître</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-2'">2. Rôles du Staff </a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-3'">3. Usage du Discord</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-4'">4. Sur le serveur </a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-5'">5. Criminalité</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-6'">6. Organisations criminelles </a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-7'">7. Los Santos Police Department</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-8'">8. Mort RP</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-9'">9. Règle du COMA</a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-10'">10. Règle évènements </a>
            </li>
            <li>
              <a [ngx-scroll-to]="'#info-1-11'">11. Règle Brinks</a>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
  <div id="all-content">
    <h1 id="info-1">Règlement et conseils</h1>
    <p>
      Voici les règles à connaitre pour pouvoir jouer sereinement sur le serveur.
    </p>
    <div class="info">
      <div class="info" id="info-1-1">
        <div class="info-title">
          1.Notions à connaître
        </div>
        <div class="info-description">
          <p>
            - <b>Le MetaGaming</b> : Utiliser des informations dont votre personnage n'a pas connaissance dans une scène, ou sur un personnage de la ville.<br>
            - <b>Le PowerGaming</b> : Faire en jeu des choses irréalisables dans la vie IRL.<br>
            - <b>Le RevengeKill</b> : Revenir sur une scène alors que vous avez été blessé ou mis dans le coma. Vous revenez pour vous venger, pour tuer ou blesser la ou les personnes qui vous ont fait subir ce que vous avez eu. Lorsque vous êtes dans le coma, vous êtes censé perdre la mémoire et ne pas vous souvenir exactement de ce qui vous a mené à cette situation.<br>
            - <b>Le CarKill</b> : Utiliser un véhicule pour écraser une personne afin de la tuer sans raison Rp valable (Toute demande de mort Rp doit être validé par le Staff).<br>
            - <b>Le NoFear</b> : Le Fear Rp est le fait d'avoir peur en jeu, de jouer la peur de votre personnage. Le NoFear est au contraire le fait de ne pas jouer la peur que votre personnage devrait ressentir. Selon les situations, faire preuve de NoFear peut entraîner une mort Rp de votre personnage.<br>

          </p>
        </div>
      </div>
    </div>
    <div class="info" id="info-1-2">
      <div class="info-title">
        2. Rôles du Staff
      </div>
      <div class="info-description">
        <p>
          Voici une brève présentation des différents rôles qui constituent le Staff d'Aldera-Life ! <br>

          <b>Chef Admin</b><br>
          Par définition, c'est le boss.  Il décide de la direction que prend le serveur et travaille d'arrache pieds afin que tout le monde s'amuse en jeu. <br>
          <b>Admin</b><br>
          Les sous-boss. Ils travaillent main dans la main avec le Chef Admin afin de vous proposer la meilleure expérience possible. Ils sont pas toujours très futés, mais ils sont pas méchants.<br>
          <b>Chef Dev</b><br>
          C'est lui qui planifie les différents développements futurs et qui répartie le taff au sein de l'équipe de développement.<br>
          <b>Dev</b><br>
          Les sous fifres du Chef Dev, ils boivent ses paroles et obéissent aveuglément.<br>
          <b>Helpers</b><br>
          Eux, c'est ceux que vous allez faire chier dès que vous avez un problème. Ils sont là pour vous écouter et vous aider à résoudre divers problèmes HRP en jeu ou sur discord. Ils font aussi les entretiens White-List.<br>
          <b>Juges RP</b><br>
          Ils sont là pour vous aider si vous avez une question Rp, si vous avez un doute Rp, si il y a un conflit de scène Rp, bref, dès qu'il y a un truc Rp quoi. Ils font aussi les entretiens White-List.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-3">
      <div class="info-title">
        3. Usage du Discord
      </div>
      <div class="info-description">
        <p>
          Le discord se découpe en deux sections, les chanel Rp et les chanel HRP. Vous devez être présent sur Discord lorsque vous êtes en ville.<br>

          <b>- Les Channel RP :</b> <br>
          Tout ce qui est posté dans ces canaux peut être pris en compte par votre personnage. Vous disposez de canaux concernant votre emploi, de radios vocales, ainsi que des canaux « INFO RP » qui regroupent les annonces officielles des différentes institutions en ville.<br>
          <b>- Les Channel HRP :</b> <br>
          Tout ce qui est posté dans ces canaux ne peut pas être pris en compte par votre personnage. Vous y verrez toutes les annonces du Staff concernant les annonces du serveur, les patch-note, les annonces de Stream, Divers canaux d'aide pour régler vos problèmes HRP, ainsi que divers canaux écrits et vocaux HRP où vous pourrez partager vos délires et discuter avec la communauté.<br>

          Ne pas discuter de RP dans les channel HRP<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-4">
      <div class="info-title">
        4. Sur le serveur
      </div>
      <div class="info-description">
        <p>
          Plusieurs règles sont à suivre lorsque vous êtes en ville.<br>
          - TOUS les véhicules ont une plaque d'immatriculation, y compris les véhicules sans plaque affichée.<br>
          - Vous devez parler en jeu lorsque vous êtes en interaction avec d'autres joueurs.<br>
          - Si vous parlez en radio, vous devez également être entendu en ville.<br>
          - Vous devez assumer les conséquences de vos actions. Ne soyez pas surpris si vous allez en prison après avoir volé une voiture.<br>
          - Il est interdit de tirer lorsque vous êtes conducteur dans un véhicule.<br>
          - Les tenues EMS et LSPD sont interdites à l'achat en boutique, tout comme les gilets par balle.<br>
          - Vous ne pouvez pas reconnaître une voiture qui circule et l'attribuer à un joueur. N'oubliez pas que nous sommes dans une ville qui comporte 4 millions d'habitants.<br>
          - Vous ne pouvez pas prendre en compte les conversations à travers les murs, même si le jeu vous permet de les entendre. <br>
          - Vous ne devez effectuer aucune action HRP en jeu.<br>
          - La base militaire et le porte-avion sont des zones interdites.<br>
          - Les véhicules LSPD et EMS PNJ sont interdits au vol et autre action néfaste, si vous souhaitez vous en prendre à eux, prenez vous en à des joueurs.<br>
          - Les véhicules LSPD et EMS joueurs ne peuvent pas se fermer à clé, considérez qu'ils le sont de base. Pour en voler un, il faut récupérer les « clés » sur le conducteur.<br>
          - Un run entreprise fonctionne obligatoirement par les étapes : Récolte – Traitement – Vente. Vous ne pouvez pas faire 10 fois Récolte – Traitement puis une fois Vente pour vendre en gros.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-5">
      <div class="info-title">
        5. Criminalité
      </div>
      <div class="info-description">
        <p>
          Vous pourrez trouver sur l'île de quoi assouvir vos pulsions les plus malsaines.<br>

          - Un joueur portant un masque ou un casque ne peut être reconnu à travers sa voix. <br>
          - Un acte criminel ne doit pas s'effectuer à plus de 4 membres du même groupe, afin de maintenir un certain équilibre des forces. Il sera toutefois possible d'appeler des renforts en cas de besoin.<br>
          - Un groupe criminel ne doit pas excéder 6 membres.<br>
          - Les groupes criminels ne sont pas obligé d'être en guerre ouverte les uns avec les autres, ils doivent toutefois maintenir une rivalité entre eux. <br>
          - Un criminel qui donne des informations à la police peut avoir un dossier de mort RP validé instantanément par le Staff si son groupe venait à l'apprendre en RP. <br>
          - Un criminel qui balance n'importe quel autre criminel pourra avoir un dossier de mort RP de n'importe quel autre criminel si ce dernier l'apprend en RP. <br>
          - Un joueur criminel est d'une manière générale plus facilement soumis à une mort RP qu'un citoyen honnête ou un agent de police intègre.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-6">
      <div class="info-title">
        6. Organisations criminelles
      </div>
      <div class="info-description">
        <p>
          Il existe en ville des organisations criminelles ayants certains avantages. Vous pouvez tenter d'en rejoindre une si vous le souhaitez, il faudra alors vous plier aux codes de l'organisation en question, ou assumer les conséquences de vos écarts. L’un des membres de l’organisation dispose d’une entreprise, il ne pourra pas employer plus d’un membre de son organisation au sein de celle-ci. <br>
          Pour vous revendiquer organisation, il faut effectuer des actions RP qui justifient ce titre, et déposer un dossier aux helpers qui devra être validé par les Admins.<br>
          - Commerce illégal exclusif. Il est interdit de chercher les points de ces commerces, si vous voulez voler le marché, il faudra apprendre les zones de manière RP.<br>
          - Quartier général, disposant d'un intérieur et d'un coffre d'organisation (Prochainement)<br>
          - Missions exclusives données par un maître du jeu.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-7">
      <div class="info-title">
        7. Los Santos Police Department
      </div>
      <div class="info-description">
        <p>
          - L'utilisation du bouton « Fourrière » doit être utilisé avec parcimonie. Merci de privilégier l'interaction Rôle Play en faisant appel à un dépanneur.<br>
          - Soyez cohérents dans vos déplacements. On ne se balade pas dans un quartier chaud comme en centre ville.<br>
          - Il est interdit d'être Ripoux sans validation d'un dossier remis aux Helpers et validé par les Admins.<br>
          - L'utilisation de l'arme létale doit être le dernier recours ou pour de la légitime défense. Dans le cas contraire vous pourrez être mis à pieds et jugé par les hautes instances.<br>
          - Pensez à l'image que vous renvoyez aux citoyens. Nous ne vivons pas dans un état policier, patrouiller avec un fusil à pompe à la main n'est peut être pas la meilleure idée.<br>
          - Le Rp LSPD est difficile, vous êtes garants de l'équilibre du serveur face à la criminalité, prenez bien cette notion en compte avant de postuler.<br>
          - Le LSPD peut intervenir à deux sur les braquages de supérette, et appeler des renforts si besoin une fois sur place.<br>
          - Le LSPD peut intervenir à 4 maximum sur une intervention autre que les braquages de supérette, et pourra appeler des renforts si besoin une fois sur place.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-8">
      <div class="info-title">
        8. Mort RP
      </div>
      <div class="info-description">
        <p>
          Une mort RP doit obligatoirement être validée par le Staff. <br>

          - Si vous en avez marre de votre personnage, parlez en aux Juges RP qui verront comment vous aider à terminer votre personnage, et si vous n'êtes pas engagé dans le RP d'autres joueurs. Les kangourou aiment la boxe (Ressortez cette phrase au début de votre entretien pour gagner un bon point).<br>
          - Si vous souhaitez tuer un personnage autre que le votre, vous devrez déposer un dossier aux Juges RP en exposant vos raisons de le tuer. Ces derniers décideront de la crédibilité de votre action. N'oubliez pas que l'on ne tue pas quelqu'un comme on part acheter une baguette, il faut penser à effectuer d'autres action avant de choisir cette solution définitive.<br>

        </p>
      </div>
    </div>
    <div class="info" id="info-1-9">
      <div class="info-title">
        9. Règle du COMA
      </div>
      <div class="info-description">
        <p>
          Si vous tombez dans le coma, vous devez jouer la personne blessée, sous le choc. Voir un EMS est vivement recommandé.

        </p>
      </div>
    </div>
    <div class="info" id="info-1-10">
      <div class="info-title">
        10. Règle évènements
      </div>
      <div class="info-description">
        <p>
          Il y a au minimum un évènement civil organisé par le gouvernement chaque semaine. Ces évènements sont protégés anti-criminalité, c'est à dire qu'il est interdit de faire de la criminalité quelle qu'elle soit temps que durera l'évènement, peu importe l'endroit de l'île. Il pourra occasionnellement y avoir des dérogations pour effectuer un acte criminel sur ce type d'évènement après validation d'un dossier envoyé à un juge Rp. Les évènements organisés sans passer par le gouvernement ne seront pas protégés contre la criminalité.

        </p>
      </div>
    </div>
    <div class="info" id="info-1-11">
      <div class="info-title">
        11. Règle Brinks
      </div>
      <div class="info-description">
        <p>
          - Les vitres du camion de la brinks sont considérées comme blindées, vous ne pouvez pas tuer le conducteur en tirant dedans.<br>
          - Les portes arrières ne peuvent être ouvertes que par un explosif ou un employé de la brinks.<br>

        </p>
      </div>
    </div>
  </div>
</main>
